/*-----------------*/
/* Utility Classes */
/*-----------------*/

%button {
    display: inline-block;
    padding: 1rem 4rem;
    border: 0;
    background-color: $red;
    color: #fff;
    font-weight: $bold;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    
    &:hover, &:focus {
        background-color: $dark-red;
        color: #fff;
    }
}

.button {
    @extend %button;
}

%clearfix {
    &:after {
        clear: both;
        display: table;
        content: " ";
    }
}

%default-transition {
    transition: all 0.4s ease;
}

%page-max-width {
    max-width: $max-width;
    margin: 0 auto;
}
