/*-----------------*/
/* Utility Classes */
/*-----------------*/

%button {
    display: inline-block;
    padding: 1rem 4rem;
    border: 0;
    background-color: $red;
    color: #fff;
    font-weight: $bold;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    
    &:hover, &:focus {
        background-color: $dark-red;
        color: #fff;
    }
}

.button {
    @extend %button;
}

%clearfix {
    &:after {
        clear: both;
        display: table;
        content: " ";
    }
}

.fullCoverLink {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

%page-max-width {
    max-width: $max-width;
    margin: 0 auto;
}

// Hide text for screen readers
%screen-reader-only {
    position: absolute;
    top: auto;
    left: -100000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
