/*-------------------*/
/* Plugins Overrides */
/*-------------------*/

/* Contact Form 7 */

.wpcf7-form {
    span.wpcf7-not-valid-tip {
        margin-top: -0.5rem;
        padding: 0 20px;
        background-color: $red;
        font-size: 1.4rem;
        color: #fff;
    }
    
    div.wpcf7-response-output {
        margin-left: 0;
        margin-right: 0;
        padding: 10px 20px;
        background-color: $dark-gray-tan;
        border: 0;
        color: #fff;
    
        &.wpcf7-mail-sent-ok {
            background-color: $blue;
        }
    }
}
