/*----------------*/
/* Navigation Bar */
/*----------------*/

.mainNav {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: $sand;
    
    .row {
        @include align-items(center);
        height: $nav-height;
        padding: 5px 15px;
    }
    
    ul {
        margin: 0;
    }
    
    li {
        margin: 0;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    
    a {
        color: $dark-gray-tan;
        
        &:hover, &:focus {
            color: $light-blue;
        }
    }
    
    &__logo {
        width: 15rem;
        height: ($nav-height - 3rem);
        
        svg {
            width: auto;
            height: ($nav-height - 3rem);
        }
        
        @include breakpoint($size-md) {
            margin-left: 1.5rem;
        }
    }
    
    &::after {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: block;
        height: 9px;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 9"><g><polygon points="7.5 8.91 0 1.41 0 0 15 0 15 1.41 7.5 8.91" fill="%23fff7e7"/><polygon points="7.5 8.91 0 1.41 0 0 7.5 7.5 15 0 15 1.41 7.5 8.91" fill="%23c8b8a7"/></g></svg>');
        background-position: top center;
        background-repeat: repeat-x;
        content: ' ';
    }
}

@include breakpoint(601px) {
    body.admin-bar .mainNav {
        top: 46px;
    }
}

@include breakpoint(783px) {
    body.admin-bar .mainNav {
        top: 32px;
    }
}

/* Mobile menu */
#dl-menu.dl-menuwrapper {
    z-index: 1;
    float: none;
    height: 45px;
    
    .dl-trigger, ul {
        right: 0;
    }
    
    .dl-trigger {
        position: absolute;
        top: 0;
        padding: 0;
        background-color: $red;
        
        &.dl-active {
            background-color: $dark-red;
        }
        
        &:hover, &:focus {
            background-color: $blue;
        }
    }
    
    ul {
        top: 50px;
        left: auto;
        width: 250px;
        background-color: $gray-tan;
        @include box-shadow(0px 1px 1px 0px rgba(#000, 0.05));
        
        li {
            margin: 0;
            
            a:hover {
                background-color: $red;
                color: #fff;
            }
        }
    }
    
    a {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.2rem;
    }
    
    li.dl-back:after, li > a:not(:only-child):after {
        font-family: 'FontAwesome';
        font-size: 18px;
        line-height: 40px;
        content: '\f0da';
    }
}

/* Desktop menu */
.mainNav__desktopMenu {
    display: none;
    
    ul {
        margin: 0;
        list-style: none;
        text-align: right;
    }
    
    li {
        position: relative;
        vertical-align: middle;
        display: inline-block;
        font-size: 1.4rem;
        
        &.menu-item-has-children {
            position: relative;
        }
    }
    
    a {
        display: block;
        padding: 10px 15px;
        
        &:hover, &:active {
            opacity: 0.75;
        }
    }
    
    .sub-menu {
        position: absolute;
        visibility: hidden;
        top: 100%;
        left: 0;
        z-index: 1;
        width: 250px;
        border: solid 1px $gray-tan;
        background-color: $sand;
        text-align: left;
        @include box-shadow(0px 1px 1px 0px rgba(#000, 0.05));
        opacity: 0;
        transition: visibility 0.4s ease, opacity 0.4s ease;
        
        &.show {
            z-index: 2;
            visibility: visible;
            opacity: 1;
        }
        
        &.show-adjust {
            right: 0;
            left: auto;
        }
        
        li {
            display: block;
            padding-right: 15px;
            padding-left: 15px;
            
            &.menu-item-has-children > a {
                padding-right: 25px;
                
                &:after {
                    position: absolute;
                    top: 9px;
                    right: 10px;
                    display: block;
                    font-family: 'FontAwesome';
                    content: '\f0da';
                }
            }
            
            &:first-child > a {
                border-top: 0;
            }
        }
        
        a {
            padding-right: 5px;
            padding-left: 5px;
            border-top: solid 1px $gray-tan;
        }
        
        ul {
            top: 0;
            left: 100%;
            
            &.show-adjust {
                left: -100%;
            }
        }
    }
}

@include breakpoint($size-md) {
    .mainNav__mobileMenu {
        display: none;
    }
    
    .mainNav__desktopMenu {
        display: block;
    }
}
